name: SSH Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: ssh deploy
        uses: easingthemes/ssh-deploy@v2.1.5
        with:
          SSH_PRIVATE_KEY: ${{secrets.SERVER_SSH_KEY}}
          REMOTE_HOST: ${{secrets.REMOTE_HOST}}
          REMOTE_USER: ${{secrets.REMOTE_USER}}
          REMOTE_PORT: 22
          SOURCE: "server/"
          TARGET: ${{secrets.REMOTE_TARGET}}"/"
          ARGS: "-rltgoDzvO" # optional, default is -rltgoDzvO
      - name: Restart bot to enact changes
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            # Connect to Screen session running the bot and send a KeyboardInterrupt
            screen -S akrb -p 0 -X stuff "^C"
            # Print a notice to the screen that the script was relaunched by GitHub Actions
            screen -S akrb -p 0 -X stuff "# Script Relaunched by GitHub Actions...^M"
            # Reconnect to Screen session and relaunch the bot, then send ^M, to execute the command
            screen -S akrb -p 0 -X stuff "${{secrets.REMOTE_TARGET}}/AllKnowingRedditBot.py^M"
