name: SSH Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: ssh deploy
      # You may pin to the exact commit or the version.
      # uses: easingthemes/ssh-deploy@191986574c0735ffad7ae1a297a414d6e6f95375
        uses: easingthemes/ssh-deploy@v2.1.5
        with:
         # Private Key
          SSH_PRIVATE_KEY: ${{secrets.SERVER_SSH_KEY}}
          # Remote host
          REMOTE_HOST: ${{secrets.REMOTE_HOST}}
          # Remote user
          REMOTE_USER: ${{secrets.REMOTE_USER}}
          # Remote port
          REMOTE_PORT: 22
          # Source directory
          SOURCE: /
          # Target directory
          TARGET: ${{secrets.REMOTE_TARGET}}
          # Arguments to pass to rsync
          # ARGS: # optional, default is -rltgoDzvO
      - name: Restart bot to enact changes
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            # Connect to Screen session running the bot and send a KeyboardInterrupt
            screen -S akrb -p 0 -X stuff "^C"
            # Print a notice to the screen that the script was relaunched by GitHub Actions
            screen -S akrb -p 0 -X stuff "# Script Relaunched by GitHub Actions...^M"
            # Reconnect to Screen session and relaunch the bot, then send ^M, to execute the command
            screen -S akrb -p 0 -X stuff "./AllKnowingRedditBot.py^M"
